name: Deploy docs to GitHub Pages via mkdocs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.12
      - run: pip install -r docs/requirements.txt
      - run: mkdocs gh-deploy --force
