name: Deploy docs to GitHub Pages via mkdocs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5.1.1
        with:
          python-version: 3.9
      - run: pip install -r docs/requirements.txt
      - run: mkdocs gh-deploy --force
